#container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.div{
    background-color:gray;
    
}


.div > #h1:hover{
    color:black;
    visibility:visible;
      
}

#h1{
    text-align:center;
    
    
    
}